.fdb {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.containerss {
    position: relative;
    width: 500px;
    background: rgb(228, 203, 203);
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerss .post {
    display: none;
}

.containerss .text {

    font-size: 25px;

    color: #666;

    font-weight: 500;

}

.containerss .star-widget input {

    display: none;

}

.star-widget label {

    font-size: 40px;

    color: #444;

    padding: 10px;

    float: right;

    transition: all 0.2s ease;

}

input:not(:checked)~label:hover,

input:not(:checked)~label:hover~label {

    color: #fd4;

}

input:checked~label {

    color: #fd4;

}

#rate-5:checked~label {

    color: #fe7;

    text-shadow: 0 0 20px #952;

}

#rate-1:checked~form header:before {

    content: "I just hate it ";

}

#rate-2:checked~form header:before {
    content: "I don't like it ";
}

#rate-3:checked~form header:before {
    content: " i just like it";
}

#rate-4:checked~form header:before {
    content: " it is awesome";
}

#rate-5:checked~form header:before {
    content: " i just love it ";
}

.containerss form {
    display: block;
}

input :checked~form {
    display: block;
}

form.textarea1 {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form.textarea1 textarea1 {
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

.textarea1 textarea1:focus {
    border-color: #444;
}

form.btn1 {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form.btn1 button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

}

form.btn1 button :hover {
    background: #1b1b1b;
}

/* //////////////////////
 */
/* user rev
 */
