.Menu {
    width: 200px;
    margin-top: 50px;
}

.links {
    background-color: rgb(238, 222, 241);
    color: black;
    display: block;
    padding: 12px;
    margin: 10px;
    text-decoration: none;
}

.links:hover {
    background-color: rgb(184, 172, 238);
    color: white;
}

.links.selected {
    background-color:#8067c4;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}